
input {text-align: right;
}

td {text-align: right;
}

card {border: 3px;
  margin-left:10px;
  margin-right:10px;
}



p.tab{text-indent: 40px;
}

.form-row{
  margin-left:10px;
  margin-right:10px;
}

.row{
  margin-left:10px;
  margin-right:10px;
}
.col{
  margin-left:10px;
  margin-right:10px;
}

