{% extends "layout.html" %}


{% block main %}

<div class="container-lg">
    <p class="tab">Welcome to my final project for Harvard's CS50x: Introduction to Computer Science.  I was inspired to create this real estate calculator from my own experiences in real estate investing.  The existing calculators out there use dumb averages - giving the false impression that one can expect a steady monthly return.
    The truth is that investing in rental properties can be incredibly volatile: you might be budgetinging for $200/month in maintenance but one month can be issue free, while the next month a sewer line bursts.  Additionally, appreciation (and other variables) can vary wildly, causing huge differences in outcomes.  I was especially interested in modeling the use of Adjustable Rate Mortgages.</p>
    <br>    
    <p class="tab">I currently reside in Park City, UT.  I have worked in the airline industry for eight years as a self-taught Data Analyst where I built the system that prices flights for Allegiant Air.
        I plan on completing a total of 5 courses this year, and then finding a role as a Data, Analytics, or Software Engineer.  If you would like to chat, please reach out to me on LinkedIn.
    </p>
    <br>
    <ul class="list-group" style="margin-left:20px">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/stefan-dr/">LinkedIn</a></li>
        <li class="list-group-item"><a href="https://github.com/stefandruzdzel/">GitHub</a></li>
    </ul>
    

</div>



{% endblock %}
